

    

.a{
    text-align: center;
    color: rgb(85, 32, 2);
    margin-top: -650px;
   
}
.b{
    text-align: center;
    border-radius: 10px;
    color: rgb(85, 32, 2);
}
.c{
    text-align: center;

}
