.a{
    margin-top: -750px;
    text-align: center;
    margin: 90px 20px black;
    font-style: bold;
}
.b{
    text-decoration: underline solid black;
    
}
.c{
    font-size: 100%;
}
.d{
    opacity: 01.0;
}